<div class="w3-display-container"><p>.</p></div>

<!-- Image Header -->
<div class="w3-display-container w3-animate-opacity">
  <img src="assets/img/logo.jpg" alt="boat" style="display:block;margin:0 auto;width:40%;min-height:350px;max-height:600px;">
  <!-- <div class="w3-container w3-display-bottomleft w3-margin-bottom">
    <button onclick="document.getElementById('id01').style.display='block'" class="w3-button w3-xlarge w3-theme w3-hover-teal"
      title="Creche Cantinho da Amizade">CRECHE CANTINHO DA AMIZADE</button>
  </div> -->
</div>

<!-- Team Container -->
<div class="w3-container w3-padding-64 w3-center" id="team">
  <h2>FUNDADORAS</h2>
  <p>Percursoras do nosso grande trabalho:</p>

  <div class="w3-row">
    <br>

    <div class="w3-quarter">
      <img src="assets/img/aracy.jpg" alt="Aracy de Mattos" style="width:45%" class="w3-circle w3-hover-opacity">
      <h3>Aracy de Mattos</h3>
      <p>Fundadora</p>
    </div>

    <div class="w3-quarter">
      <img src="assets/img/neusa.jpg" alt="Neusa de Mattos" style="width:45%" class="w3-circle w3-hover-opacity">
      <h3>Neusa de Mattos</h3>
      <p>Fundadora</p>
    </div>

  </div>
</div>

<!-- Work Row -->
<div class="w3-row-padding w3-padding-64 w3-theme-l1" id="work">

  <div class="w3-quarter">
    <h2>Nosso Trabalho</h2>
    <p>A creche cantinho da amizade trabalha com crianças de zero a quatro anos de idade, complementar ...</p>
  </div>

  <div class="w3-quarter">
    <div class="w3-card w3-white">
      <img src="assets/img/unidade1.jpg" alt="Unidade 1" style="width:100%;min-height:200px;max-height:200px;">
      <div class="w3-container">
        <h3>Unidade 1</h3>
        <h4>0 - 2 Anos</h4>
        <p>XXX Crianças atendidas</p>
        <p>XXX Profissionais atuantes</p>
      </div>
    </div>
  </div>

  <div class="w3-quarter">
    <div class="w3-card w3-white">
      <img src="assets/img/unidade2.jpg" alt="Unidade 2" style="width:100%;min-height:200px;max-height:200px;">
      <div class="w3-container">
        <h3>Unidade 2</h3>
        <h4>2 - 4 Anos</h4>
        <p>XXX Crianças atendidas</p>
        <p>XXX Profissionais atuantes</p>
      </div>
    </div>
  </div>

</div>

<!-- History Row -->
<div class="w3-row-padding w3-center w3-padding-64" id="pricing">
  <h2>HISTÓRIA</h2>
  <p>Saiba como a creche surgiu e cresceu com o passar dos anos:</p>
  <br>
  <p>A creche cantinho da amizade trabalha com crianças de zero a quatro anos de idade, complementar ...</p>
</div>

<!-- Contact Container -->
<div class="w3-container w3-padding-64 w3-theme-l5" id="contact">
  <div class="w3-row">
    <div class="w3-col m5">
      <div class="w3-padding-16">
        <span class="w3-xlarge w3-border-teal w3-bottombar">Entre em contato</span>
      </div>
      <h3>Endereço:</h3>
      <p>Para conhecer nossas instalações e nossas crianças.</p>
      <p>
        <i class="fa fa-map-marker w3-text-teal w3-xlarge"></i>  Av. João Junqueira, 1234 - Centro - Cristais Paulista / SP</p>
      <p>
        <i class="fa fa-phone w3-text-teal w3-xlarge"></i>  016 3133-1110</p>
      <p>
        <i class="fa fa-envelope-o w3-text-teal w3-xlarge"></i>  crechecantinho@gmail.com</p>
    </div>
    <div class="w3-col m7">
      <form class="w3-container w3-card-4 w3-padding-16 w3-white" action="/action_page.php" target="_blank">
        <div class="w3-section">
          <label>Nome</label>
          <input class="w3-input" type="text" name="Name" required>
        </div>
        <div class="w3-section">
          <label>Email</label>
          <input class="w3-input" type="text" name="Email" required>
        </div>
        <div class="w3-section">
          <label>Mensagem</label>
          <input class="w3-input" type="text" name="Message" required>
        </div>
        <input class="w3-check" type="checkbox" checked name="Like">
        <label>Gostei disso!</label>
        <button type="submit" class="w3-button w3-right w3-theme">Enviar</button>
      </form>
    </div>
  </div>
</div>

<!-- Google Maps -->
<div id="googleMap" style="width:100%;height:420px;"></div>
<script>
  function myMap() {
    myCenter = new google.maps.LatLng(-20.4053074, -47.4186677);
    var mapOptions = {
      center: myCenter,
      zoom: 12, scrollwheel: false, draggable: false,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    };
    var map = new google.maps.Map(document.getElementById("googleMap"), mapOptions);

    var marker = new google.maps.Marker({
      position: myCenter,
    });
    marker.setMap(map);
  }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyALNEyPN68P9aIpaFzC2bv6QPJKBzmc4Pc&callback=myMap"></script>
<!--
To use this code on your website, get a free API key from Google.
Read more at: https://www.w3schools.com/graphics/google_maps_basic.asp
-->

<!-- Footer -->
<footer class="w3-container w3-padding-32 w3-theme-d1 w3-center">
  <h4>Follow Us</h4>
  <a class="w3-button w3-large w3-teal" href="javascript:void(0)" title="Facebook">
    <i class="fa fa-facebook"></i>
  </a>
  <a class="w3-button w3-large w3-teal" href="javascript:void(0)" title="Twitter">
    <i class="fa fa-twitter"></i>
  </a>
  <a class="w3-button w3-large w3-teal" href="javascript:void(0)" title="Google +">
    <i class="fa fa-google-plus"></i>
  </a>
  <a class="w3-button w3-large w3-teal" href="javascript:void(0)" title="Google +">
    <i class="fa fa-instagram"></i>
  </a>
  <a class="w3-button w3-large w3-teal w3-hide-small" href="javascript:void(0)" title="Linkedin">
    <i class="fa fa-linkedin"></i>
  </a>
  <!-- <p>Desenvolvido por
    <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">Mateus Oliveira</a>
  </p> -->

  <div style="position:relative;bottom:100px;z-index:1;" class="w3-tooltip w3-right">
    <span class="w3-text w3-padding w3-teal w3-hide-small">Voltar para cima</span>
    <a class="w3-button w3-theme" href="#myPage">
      <span class="w3-xlarge">
        <i class="fa fa-chevron-circle-up"></i>
      </span>
    </a>
  </div>
</footer>

<script>
  // Script for side navigation
  function w3_open() {
    var x = document.getElementById("mySidebar");
    x.style.width = "300px";
    x.style.paddingTop = "10%";
    x.style.display = "block";
  }

  // Close side navigation
  function w3_close() {
    document.getElementById("mySidebar").style.display = "none";
  }

  // Used to toggle the menu on smaller screens when clicking on the menu button
  function openNav() {
    var x = document.getElementById("navDemo");
    if (x.className.indexOf("w3-show") == -1) {
      x.className += " w3-show";
    } else {
      x.className = x.className.replace(" w3-show", "");
    }
  }
</script>